@import "../styles/common.scss";


.App-logo {
    height: 10vmin;
    pointer-events: none;
}

.App-logo {
    animation: App-logo-spin infinite 2s linear;
}

.App-header {
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}