body,
html {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $fontmain;
  font-size: $base-size - 2px;
  min-height: 100vh;
  overflow: hidden;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}