a {
    text-decoration: none;
}

.text-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-overflow-3-lines {
    -webkit-line-clamp: 3;
}

.text-overflow-2-lines {
    -webkit-line-clamp: 2;
}

.text-overflow-1-lines {
    -webkit-line-clamp: 1;
}