.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/6f/22/8d/6f228d9d05b2e2f33aa81f0398db2fb8.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    .login-container {
        width: 320px;
        padding: 20px;
        background-color: #fff;
        border-radius:12px ;
        box-shadow: 2px 2px 10px #1a1a1a23;

        .login-header {
            // background-color: #1a1a1a23;
            padding: 10px 0px;
        }



        .btn-login {
            width: 100%;
            background-color: blue;
            color: #fff;
            padding: 4px 0;
            border-radius: 4px;
            border: none;
        }
    }
}